* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 200% 200%;
    font-family: 'Outfit', sans-serif;
}

button {
    font-family: 'Outfit', sans-serif;
    border: none;
}

button.start:hover {
    cursor: pointer;
}

header .logo {
    transition: 0.5s ease-in-out;
}

header .logo:hover {
    filter: invert();
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    padding: 24px;
    position: relative;
    max-width: 100%;
    margin: 20px;
}

.card::before {
    content: "";
    position: absolute;
    background: linear-gradient(120deg, #9348f5 30%, #6b26be 100%);
    padding: 8px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    padding: 10px;
    flex-wrap: wrap;
}

header .logo {
    max-width: 100px;
}

header button.gen {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4f4f4f;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 85%;
    transition: 0.3s ease-in-out;
}

header button.start {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background: linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%);
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 85%;
    transition: 0.3s ease-in-out;
}

header button.gen:hover,
header button.start:hover {
    filter: brightness(120%);
}

.gen-option:hover .menugens {
    opacity: 100%;
    display: inline-grid;
}

.menugens {
    display: none;
    margin-top: -6px;
    position: absolute;
    z-index: 1;
}

.menugens a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4f4f;
    color: #ffffff;
    text-decoration: none;
    height: 35px;
    width: 180px;
}

.menugens a:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menugens a:hover {
    color: #000000;
    filter: brightness(140%);
    cursor: pointer;
}

header .icone img {
    position: absolute;
    margin-top: -7px;
}

header .icone i {
    margin: 8px;
}

.movies {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 180px;
    margin: 8px;
}

.poster .img-load {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-color: rgb(73, 73, 73);
}

.poster img {
    width: 100%;
    height: auto;
}

.duration,
.year,
.movie button,
.title>div {
    display: flex;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.title>div {
    color: #FEEA35;
    font-size: 14px;
    font-weight: 600;
    line-height: 14.408px;
}

.title span {
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 55%;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.duration,
.year {
    gap: 4px;
    color: #8B8D9B;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.movie button {
    display: flex;
    width: 100%;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #2B2B37;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.2s ease-in-out;
}

.movie button:hover {
    cursor: pointer;
    background: #373745;
    transform: scale(1.03);
}

.made p {
    color: #a68eec;
    position: fixed;
    bottom: 0;
    right: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes gerar {
    to {
        transform: rotate(180deg);
    }
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {    
    * {
        overflow-y: hidden;
    }
    
    .card {
        padding: 16px;
        height: 80%;
    }

    header {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    header .logo {
        margin-bottom: 10px;
        margin-left: 60px;
        width: 30%;
    }

    header button.gen,
    header button.start {
        width: 100%;
        max-width: 180px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .movies {
        flex-direction: column;
        align-items: center;
        overflow-x: scroll;
        height: 90%;
        gap: 2rem;
    }
    
    .title span {
        align-self: center;
        width: 50%;
    }

    .movie {
        width: 100%;
        max-width: 300px;
    }

    .movie .poster {
        align-self: center;
        width: fit-content;
        max-width: 80%;
    }

    .info {
        justify-content: center;
        gap: 3rem;
        max-width: 100%;
        height: 8%;
        align-self: center;
    }
    .info img {
        max-width: 20px;
    }

    .info span {
        font-size: 20px;
    }

    .movie button {
        align-self: center;
        width: 80%;
        height: 5%;
        padding: 20px;
    }

    .movie button img {
        width: 14%;
    }

    .movie button span {
        font-size: 16px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

/* Responsividade para iPads, tablets */
@media (min-width: 481px) and (max-width: 599px) { 
    .card {
        padding: 20px;
        height: 92%;
    }

    header {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: -10px;
        height: 100%;
        margin-bottom: 0px;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header button.gen {
        max-height: 100%;
    }
    header button.start {
        width: 100%;
        max-width: 200px;
    }

    .movies {
        flex-direction: column;
        gap: 0px;
        overflow-x: scroll;
    }

    .movie {
        width: 100%;
        max-width: 50%;
        margin-bottom: 100px;
    }

    .movie .title {
        justify-content: center;
    }

    .movie .poster {
        width: 90%;
    }

    .info {
        justify-content: center;
        margin-left: -20px;
        gap: 10px;
        max-width: 100%;
    }
    .info img {
        max-width: 20px;
    }

    .info span {
        font-size: 15px;
    }

    .movie button {
        width: 90%;
    }

    .movie button img {
        width: 15%;
    }

    .movie button span {
        font-size: 16px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

/* Responsividade para iPads, tablets */
@media (min-width: 600px) and (max-width: 768px) {
    * {
        overflow-x: scroll;
    }
    
    .card {
        padding: 20px;
        height: 92%;
    }

    header {
        flex-direction: row;
        margin-top: -10px;
        height: 100%;
        margin-bottom: 0px;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header button.gen {
        max-height: 100%;
    }
    header button.start {
        width: 100%;
        max-width: 200px;
    }

    .movies {
        flex-direction: column;
        gap: 0px;
    }

    .movie {
        width: 100%;
        max-width: 50%;
        margin-bottom: 20px;
    }

    .movie .title {
        width: 90%;
    }

    .title span {
        max-width: 70%;
    }

    .movie .poster {
        width: 90%;
    }

    .info {
        justify-content: center;
        margin-left: -20px;
        gap: 20px;
        max-width: 100%;
    }
    .info img {
        max-width: 20px;
    }

    .info span {
        font-size: 20px;
    }

    .movie button {
        width: 90%;
        height: 80px;
    }

    .movie button img {
        width: 15%;
    }

    .movie button span {
        font-size: 16px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

/* Carrossel para telas pequenas e laptops */
@media (min-width: 769px) and (max-width: 941px) {
    .movies {
        display: flex;
        overflow: hidden;
        position: relative;
        gap: 10px;
    }

    .movie {
        max-width: 15%;
        transition: transform 0.3s ease-in-out;
        
    }

    .movie .title {
        display: grid;
    }

    .movie .title span {
        font-size: 13px;
    }

    .movie .title img {
        width: 30px;
    }

    .poster .img-load,
    .poster>img {
        height: fit-content;
    }

    .info {
        justify-content: center;
        gap: 8px;
    }
    .info img {
        max-width: 10px;
    }

    .info span {
        font-size: 10px;
    }

    .movie button {
        width: 100%;
        height: 30px;
    }

    .movie button img {
        width: 30%;
        margin-left: -15px;
    }

    .movie button span {
        font-size: 8.5px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

/* Carrossel para telas pequenas e laptops */
@media (min-width: 942px) and (max-width: 1024px) {
    .movies {
        display: flex;
        overflow: hidden;
        position: relative;
        gap: 10px;
    }

    .movie {
        max-width: 17%;
        transition: transform 0.3s ease-in-out;
        
    }

    .movie .title {
        display: grid;
    }

    .movie .title span {
        font-size: 13px;
    }

    .movie .title img {
        width: 30px;
    }

    .poster .img-load,
    .poster>img {
        height: fit-content;
    }

    .info {
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
    .info img {
        max-width: 10px;
    }

    .info span {
        font-size: 10px;
    }

    .movie button {
        width: 100%;
        height: 30px;
    }

    .movie button img {
        width: 30%;
        margin-left: -15px;
    }

    .movie button span {
        font-size: 8.5px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

/* Responsividade para desktops e telas grandes */
@media (min-width: 1025px) and (max-width: 1200px) {
    .card {
        padding: 24px 32px;
    }

    .movie {
        max-width: 180px;
    }

    .poster .img-load,
    .poster>img {
        width: 180px;
        height: auto;
    }

    .title>div {
        font-size: 14px;
    }

    .made {
        position: fixed;
        z-index: -3;
    }
}

