*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 200% 200%;
    font-family: 'Outfit', sans-serif;
}

button {
    font-family: 'Outfit', sans-serif;
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    padding: 64px 96px;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    background: linear-gradient(120deg, #9348f5 30%, #6b26be 100%);
    padding: 8px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1154px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

header button {
    width: 220px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    background: linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%);
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.3s ease-in-out;
    opacity: 85%;
}

header button:hover{
    opacity: 100%;
    transform: scale(1.05);
}

header .icone img {
    position: absolute;
    margin-top: -7px;
}

header .icone i {
    margin: 8px;
}

.movies {
    display: flex;
    gap: 36px;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 194px;
}

.title, 
.duration, 
.year, 
.movie button, 
.title>div {
    display: flex;
    align-items: center;
}

.info, .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title>div {
    color:#FEEA35;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.408px;
}

.title span {
    max-width: 140px;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

.poster > img {
    width: 194px;
    height: 289px;
}

.duration, .year {
    gap: 4px;
    color: #8B8D9B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.movie button {
    display: flex;
    width: 194px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #2B2B37;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.2s ease-in-out;
}

.movie button:hover {
    background: #373745;
    transform: scale(1.03);
}

.made p{
    color: #190555;
    position: absolute;
    margin-left: 140px;
    margin-top: 445px;
}


@keyframes gradient {

    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
}

@keyframes gerar {
    to {
        transform: rotate(180deg);
    }
}