*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 200% 200%;
    font-family: 'Outfit', sans-serif;
}

button {
    font-family: 'Outfit', sans-serif;
    border: none;
}

header .logo {
    transition: 0.2s ease-in-out;
}

header .logo:hover {
    
    filter: invert()
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    background: var(--cores-cinza-dark, #1E1F28);
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    padding: 64px 96px;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    background: linear-gradient(120deg, #9348f5 30%, #6b26be 100%);
    padding: 8px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1154px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

header button.gen {
    width: 220px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4f4f4f;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 85%;
    transition: 0.3s ease-in-out;
}

button.gen:hover {
    filter: brightness(120%);
}

.gen-option:hover .menugens{
    opacity: 100%;
    display: inline-grid;
}

.menugens {
    display: none;
    position: absolute;
    z-index: 1;
}

.menugens a{
    background-color: #4f4f4f;
    color: #ffffff;
    text-decoration: none;
    width: 220px;
}

.menugens a:hover{
    color: #000000;
    width: 220px;
    filter: brightness(140%);
    cursor: pointer;
}

@media (min-width: 1025px) {

    header button.start {
        width: 220px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 8px;
        background: linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%);
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        transition: 0.3s ease-in-out;
        opacity: 85%;
    }

    header button.start:hover{
        opacity: 100%;
        transform: scale(1.03);
    }

}

header .icone img {
    position: absolute;
    margin-top: -7px;
}

header .icone i {
    margin: 8px;
}

.movies {
    display: flex;
    gap: 36px;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 194px;
}

.poster .img-load {
    width: 194px;
    height: 289px;
    background-color: rgb(73, 73, 73);
}

.title, 
.duration, 
.year, 
.movie button, 
.title>div {
    display: flex;
    align-items: center;
}

.info, .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title>div {
    color:#FEEA35;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.408px;
}

@media (min-width: 1025px) {

    .title span {
        max-width: 100px;
        overflow: hidden;
        color: #FFF;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
    }
}

.poster > img {
    width: 194px;
    height: 289px;
}

.duration, .year {
    gap: 4px;
    color: #8B8D9B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.movie button {
    display: flex;
    width: 194px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #2B2B37;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.2s ease-in-out;
}

.movie button:hover {
    background: #373745;
    transform: scale(1.03);
}

.made p{
    color: #a68eec;
    position: fixed;
    bottom: 0;
    right: 0;
}


@keyframes gradient {

    0% {
      background-position: 0 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0 50%;
    }
}

@keyframes gerar {
    to {
        transform: rotate(180deg);
    }
}

/* Estilos do carrossel apenas para dispositivos móveis */
@media (max-width: 768px) {

    
    header {
        display: inline-block;
        justify-content: start;
    }


    header .logo {
        margin-left: 55px;
        margin-bottom: 20px;
    }

    header button {
        max-width: 200px;
        margin-bottom: 10px;
    }

    header button.start {
        width: 220px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 8px;
        background: linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%);
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        opacity: 85%;
        transition: 0.3s ease-in-out;
    }

    header button.start:hover {
        filter: brightness(120%);
    }

    .menugens a{
        width: 200px;
    }

    .menugens a:hover{
        color: #000000;
        width: 200px;
        filter: brightness(140%);
        cursor: pointer;
    }

    .movies {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .movie {
        flex: 0 0 100%;
        margin-left: 50px;
        scroll-snap-align: start;
    }

    .title {
        max-height: 200px;
        display: grid;
    }

    .title span {
        height: 100px;
        font-size: 20pt;
        overflow: hidden;
        color: #FFF;
    }

    .title>div {
        width: 80px;
        height: 40px;
        transform: scale(1.50);
    }

    body > section.card > div > section > div:nth-child(1) {
        margin-left: 0px;
    }

    .made p{
        color: #a68eec;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}
